@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=PT+Serif:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.maskImage {
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
}
* {
    font-family: "Noto Sans Khojki", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
}

.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

@layer utilities {
    .my-btn-hover {
        @apply relative w-fit after:absolute after:left-0 after:content-[''] after:bg-orange-700 after:h-[2px] after:-bottom-[2px] after:duration-300 after:w-[0%] hover:after:w-[100%];
    }

    .swiper-btns {
        @apply w-12 h-12 text-4xl border-none outline-none text-orange-700/70 hover:text-orange-700;
    }
}
